/* 
##########################################
Our Services Banner Section 
##########################################
*/
.services-banner {
    min-height: 90vh;
    background: url("../assets/services-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
    background-attachment: fixed;
}

.services-banner .title-1 {
    max-width: 1029px;
    font-size: 72px;
}


/* 
##########################################
Service Section 
##########################################
*/
.service-sec {
    background: #000;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 27%, rgba(255, 255, 255, 0) 65%);
}

.service-sec .title-2 {
    max-width: 868px;
    margin: 0 auto;
}

.service-sec .main-head-para {
    max-width: 1104px !important;
}

.service-card p {
    max-width: 100%;
}

.service-sec .container>.service-card:nth-child(3)::before {
    right: 55px;
}


/* 
##########################################
Aviation Membership Plans Section
##########################################
*/
.membership-sec {
    padding-bottom: 100px;
}

.membership-sec .main-head .title-2 {
    max-width: 765px;
    margin: 0 auto;
}


.membership-sec .main-head .main-head-para {
    max-width: 585px;
}

.membership-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 35px;
}

.membership-table thead th {
    padding: 35px 58px;
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    text-transform: capitalize;
    font-family: ClashGrotesk-Variable;
    text-align: center;
}

.membership-table thead th span {
    position: relative;
    display: inline-block;
    padding-bottom: 6px;
}

.membership-table thead th span::after {
    content: "";
    width: 100%;
    height: 1px;
    background: rgba(221, 202, 103, 57%);
    position: absolute;
    left: 0;
    bottom: 0;
}

.membership-table tbody tr {
    background: #080806;
    border: 1px solid rgba(221, 202, 103, 57%);
}

.membership-table tbody td {
    padding: 35px 58px;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    color: var(--text-color);
    font-family: ClashGrotesk-Variable;
    text-align: center;
    border-top: 1px solid rgba(221, 202, 103, 57%);
    border-bottom: 1px solid rgba(221, 202, 103, 57%);
}

.membership-table tbody tr td:first-child {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    /* text-align: left; */
    border-left: 1px solid rgba(221, 202, 103, 57%);
}

.membership-table tbody tr td:last-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-right: 1px solid rgba(221, 202, 103, 57%);
}

.membership-table i {
    font-size: 25px;
    color: white;
}

.last-para {
    margin-left: 58px;
    color: white;
    text-transform: capitalize;
}



/* 
###########################################
Media Queries
###########################################
 */
@media screen and (max-width:1400px) {

    /* Aviation Membership Plans Section */
    .membership-table thead th {
        font-size: 20px;
    }

    .membership-table tbody td {
        font-size: 20px;
    }
}

@media screen and (max-width:992px) {

    /* Aviation Membership Plans Section */
    .membership-sec .main-head {
        margin: 25px 0 40px;
    }

    .membership-table thead th {
        font-size: 18px;
        padding: 35px 35px;
    }

    .membership-table tbody td {
        font-size: 18px;
        padding: 35px 35px;
    }

    .last-para {
        margin-left: 38px;
        font-size: 12px;
    }
}

@media screen and (max-width:768px) {

    /* Our Services Banner Section */
    .services-banner .title-1 {
        font-size: 50px;
    }

    /* Aviation Membership Plans Section */
    .membership-table thead th {
        font-size: 14px;
        padding: 20px 18px;
    }

    .membership-table tbody td {
        font-size: 14px;
        padding: 20px 18px;
    }

    .membership-table i {
        font-size: 20px;
    }
}

@media screen and (max-width:576px) {

    /* Our Services Banner Section */
    .services-banner p {
        font-size: 18px;
    }

    /* Aviation Membership Plans Section */
    .membership-table thead th {
        font-size: 12px;
        padding: 20px 18px;
    }

    .membership-table tbody td {
        font-size: 12px;
        padding: 20px 18px;
    }

    .membership-table i {
        font-size: 12px;
    }
}

@media screen and (max-width: 490px) {

    /* Our Services Banner Section */
    .services-banner .title-1 {
        font-size: 40px;
    }

    /* Aviation Membership Plans Section */
    .membership-sec {
        padding-bottom: 50px;
    }

    .membership-table {
        border-spacing: 0 18px;
    }
}

@media screen and (max-width:425px) {

    /* Our Services Banner Section */
    .services-banner .title-1 {
        font-size: 35px;
    }

    .services-banner p {
        font-size: 14px;
    }

    /* Aviation Membership Plans Section */
    .membership-table thead th {
        font-size: 10px;
        padding: 12px 12px;
    }

    .membership-table tbody td {
        font-size: 10px;
        padding: 18px 12px;
    }

    .membership-table i {
        font-size: 10px;
    }

    .last-para {
        margin-left: 28px;
        font-size: 10px;
    }
}