@font-face {
    font-family: ClashDisplay-Variable;
    src: url(../fonts/ClashDisplay-Variable.ttf);
}

@font-face {
    font-family: Arlita;
    src: url(../fonts/Arlita.otf);
}

@font-face {
    font-family: ClashGrotesk-Variable;
    src: url(../fonts/ClashGrotesk-Variable.ttf);
}

:root {
    --bg-body: #000000;
    --bg-dark: #080806;
    --primary-color: #DDCA67;
    --text-color: #FFFFFF;
    --clash-font: ClashDisplay-Variable;
    --arlita-font: Arlita;
    --ClashGrotest: ClashGrotesk-Variable;
}

body {
    background: var(--bg-body);
}

ul {
    list-style-type: none
}

a {
    display: inline-block;
    text-decoration: none;
}

.primary-btn {
    padding: 21px 31px;
    border: 2px solid var(--text-color);
    border-radius: 50px;
    font-size: 24px;
    font-weight: 400;
    color: var(--primary-color);
    font-family: var(--arlita-font);
    background: rgba(8, 8, 8, 48%);
}


.secondary-btn {
    color: var(--text-color);
    font-family: var(--arlita-font);
    background: linear-gradient(331deg, #F1E28C, #090601, #F1E28C);
    width: fit-content;
    height: fit-content;
    border-radius: 50px;
    padding: 1px;
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: var(--arlita-font);
    margin-top: 70px;

}

.secondary-btn span {
    padding: 21px 35px;
    border-radius: 50px;
    display: inline-block;
    color: var(--text-color);
    background: var(--bg-dark);
}

.secondary-btn svg {
    margin-left: 21px;
}

.bnt-border {
    background: linear-gradient(344deg, #F1E28C, #090601, #F1E28C);
    width: fit-content;
    height: fit-content;
    border-radius: 16px;
    padding: 1px;
}

.bnt-border>span {
    padding: 14px 58px;
    border-radius: 16px;
    display: inline-block;
    color: var(--text-color);
    background: var(--bg-dark);
    font-size: 25px;
    font-weight: 400;
    font-family: var(--ClashGrotest);
}


.title-2 {
    font-size: 60px;
    font-weight: 400;
    color: var(--text-color);
    text-transform: capitalize;
    font-family: var(--arlita-font);
}

.title-2 span {
    color: var(--primary-color);
}


/* 
###########################################
Bootstrap Classes 
###########################################
*/
.container {
    max-width: 1571px !important;
}




/* 
###########################################
Navbar Section 
###########################################
*/
.nav-link {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
    font-family: var(--clash-font);
    position: relative;
    transition: 0.3s linear;
}

.nav-link:hover::before,
.active::before {
    content: "";
    background: url("../assets/nav-hover-img-01.png");
    width: 17px;
    height: 10px;
    top: 9;
    left: 0;
    position: absolute;
}

.nav-link:hover::after,
.active::after {
    content: "";
    background: url("../assets/nav-hover-img-02.png");
    width: 17px;
    height: 10px;
    bottom: 9px;
    right: 0;
    position: absolute;
}



.nav-link:hover,
.active {
    color: var(--primary-color) !important;
}

.nav-item {
    margin-right: 60px;
}

.navbar-brand {
    width: 100px;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user:hover svg path,
.search:hover svg path {
    stroke: var(--primary-color);
}

.user {
    margin-left: 44px;
}






/* 
###########################################
Banner Section 
###########################################
*/
.banner-sec {
    min-height: 100vh;
    background: url("../assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 85%, transparent 100%);
}

.title-1 {
    max-width: 828px;
    font-size: 80px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: var(--arlita-font);
}

.banner-wrapper p {
    max-width: 661px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.44px;
    text-transform: capitalize;
    font-family: var(--ClashGrotest);
    margin: 15px 0 51px;
}

.banner-wrapper {
    position: relative;
    z-index: 1;
}

.banner-sec::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.8));
}

.banner-btn svg {
    margin-left: 21px;
}




/*
###########################################
 Perfect Day Section
###########################################
 */
.perfect-day-sec {
    /* min-height: 100vh; */
    /* border: 1px solid red; */
    padding: 150px 0;
}

.perfect-day-sec .bnt-border {
    margin: 0 auto;
}

.perfect-day-sec .perfect-head {
    text-align: center;
}

.perfect-day-sec .perfect-head .title-2 {
    max-width: 901px;
    margin: 60px auto 100px;
}

.video-wrapper {
    max-width: 1204px;
    border-radius: 30px;
    background: linear-gradient(to bottom, transparent, #F1E28C, #110E03);
    margin: 0 auto;
    padding: 1px;
    position: relative;
}

.video-wrapper .video-bg {
    height: 100%;
    background: #0F100E;
    border-radius: 30px;
    padding: 23px 26px;
}


.video-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}


.video-wrapper::before {
    content: "";
    width: 90px;
    height: 90px;
    border: 1px solid var(--text-color);
    background: rgba(255, 255, 255, 10%);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: wave 1s infinite ease-out;
}

.video-wrapper::after {
    content: "";
    width: 47px;
    height: 52px;
    position: absolute;
    background: url("../assets/play-btn.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@keyframes wave {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2.2);
        opacity: 0;
    }
}




/* 
###########################################
Predestined Section
###########################################
 */
.predestined-sec {
    background: url("../assets/body-bg.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    background-blend-mode: darken;
    overflow: hidden;
    padding: 135px 0;
}

.predestined-sec::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, #000000, transparent, transparent, #000000);
    z-index: 1;
}

.predestined-wrapper {
    border-radius: 40px;
    padding: 3.177vw 2.917vw;
    box-shadow: 0px 0px 119.5px #39331e;
    background: var(--bg-dark);
    position: relative;
    z-index: 2;
}

.testimonials-wrapper {
    background: linear-gradient(to bottom, #F1E28C, #F1E28C, #f1e28c4c, #f1e28c48, #0A0702, transparent);
    border-radius: 40px;
    padding: 1px;
    position: relative;
}

.testimonials-wrapper .testimonials-cntn {
    height: 100%;
    background: var(--bg-dark);
    border-radius: 40px;
}

.testimonials-sub-title {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(344deg, #F1E28C, #090601, #F1E28C);
    transform: translateX(-50%);
    left: 50%;
    top: -34px;
}

.testimonials-sub-title span {
    padding: 14px 58px;
    border-radius: 16px;
    display: inline-block;
    color: var(--text-color);
    background: var(--bg-dark);
    font-size: 25px;
    font-weight: 400;
    font-family: var(--ClashGrotest);
}


.testimonials-cntn .col-6 .bnt-border span {
    padding: 10px 42.5px;
    font-size: 20px;
}


.testimonials-cntn {
    padding: 121px 2.708vw;
}

.testimonials-img {
    max-width: 678px;
}

.testimonials-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials-cntn .title-2 {
    max-width: 615px;
    font-size: 60px;
    font-weight: 400;
    color: var(--text-color);
    text-transform: capitalize;
    font-family: var(--arlita-font);
    margin: 30px 0 18px;
}

.testimonials-cntn .title-2 span {
    color: var(--primary-color);
}

.testimonials-card {
    padding: 25px 24px 24px;
    display: flex;
    align-items: center;
    color: var(--text-color);
    text-transform: capitalize;
    border: 1px solid rgba(241, 226, 140, 51%);
    border-radius: 10px;
    background-color: #0F0F0C;
    position: relative;
}

.testimonials-card::after {
    content: "";
    width: 50px;
    height: 50px;
    background: url("../assets/star.png")no-repeat center/contain;
    position: absolute;
    top: -25px;
    right: -25px;
}

.testimonials-card::before {
    content: "";
    width: 50px;
    height: 50px;
    background: #F1E28C;
    position: absolute;
    top: -25px;
    right: -25px;
    filter: blur(30px);
    /* opacity: 65%; */
}

.testimonials-card div {
    margin-left: 20px;
}

.testimonials-card .title-5 {
    font-size: 20px;
    font-weight: 500;
    font-family: var(--ClashGrotest);
}

.testimonials-card p {
    max-width: 436px;
    font-size: 18px;
    letter-spacing: 0.36px;
    font-weight: 400;
    font-family: var(--ClashGrotest);
}


.client-card {
    color: var(--text-color);
    background: #100e07;
    border-radius: 15px;
    padding: 18px 20px 17px 30px;
    border: 1px solid rgba(241, 226, 140, 20%);
    margin-bottom: 20px;

}


.client-wrapper {
    background: var(--bg-dark);
    border-radius: 15px;
    padding: 3px 43px 29px 42px;
}

.inner-wrapper {
    padding: 34px 0 0px;
    position: relative;
}

.inner-wrapper::after {
    content: "";
    width: 80px;
    height: 3px;
    position: absolute;
    background: #F1E28C;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px #F1E28C, 0 0 20px #F1E28C;
}



.inner-wrapper p {
    max-width: 519px;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--ClashGrotest);
    margin-bottom: 16px;
    text-transform: capitalize;
}

.client-details-wrapper img {
    width: 56px;
    height: 56px;
    object-fit: cover;
}

.title-6 {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: var(--ClashGrotest);
    margin: 0;
}

.cleint-details p {
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    font-family: var(--ClashGrotest);
    margin: 0;
}

.cleint-details {
    margin-left: 9px;
}

.client-row {
    margin-top: 37px;
}


.testimonial-btn {
    text-align: center;
}



































/* 
###########################################
Media Queries
###########################################
 */
@media screen and (max-width:992px) {

    /* Perfect Day Section */
    .video-wrapper::before {
        width: 60px;
        height: 60px;
    }

    .video-wrapper::after {
        /* content: ""; */
        width: 30px;
        height: 32px;
    }

    /* Predestined Section */
    .testimonials-img {
        margin: 0 auto 100px;

    }

    .predestined-sec .title-2 {
        font-size: 50px;
    }


    .inner-wrapper p {
        max-width: 100%;
    }

    .testimonials-cntn .bnt-border {
        margin: 0 auto;
    }

    .testimonials-cntn .title-2 {
        max-width: 100%;

    }
}

@media screen and (max-width:768px) {

    /* Navbar Section  */
    .navbar-brand {
        width: 70px;
    }


    /* Perfect Day Section */
    .perfect-day-sec .title-2 {
        font-size: 40px;
        margin: 38px auto 60px !important;
    }

    .perfect-day-sec {
        padding: 90px 0;
    }

    /* Predestined Section */
    .predestined-sec {
        padding: 90px 0;
    }
}


@media screen and (max-width:576px) {

    /* Navbar Section  */
    .title-1 {
        font-size: 50px;
        max-width: 100%;
    }

    .banner-wrapper p {
        max-width: 100%;
    }

    .primary-btn {
        padding: 16px 24px;
        font-size: 18px;
    }

    .banner-btn svg {
        width: 20px;
        height: 19px;
    }


    /* Perfect Day Section */
    .video-wrapper .video-bg {
        padding: 10px 12px;
    }

    .video-wrapper::before {
        width: 30px;
        height: 30px;
    }

    .video-wrapper::after {
        /* content: ""; */
        width: 15px;
        height: 16px;
    }

    /* Perfect Day Section */
    .perfect-day-sec .title-2 {
        font-size: 30px;
    }


    /* Predestined Section */
    .testimonials-card {
        padding: 10px 15px;
    }

    .testimonials-card>div {
        margin-top: 30px;
        text-align: center;
    }

    .testimonials-card div {
        margin-left: 0px;
    }

    .predestined-sec .title-2 {
        font-size: 30px;
        max-width: 100%;
    }

    .client-wrapper {
        padding: 3px 15px 29px 15px;
    }

    .inner-wrapper p {
        font-size: 12px;
    }

    .cleint-details .title-6 {
        font-size: 14px;
    }

    .cleint-details p {
        font-size: 12px;
        margin-top: 3px;
    }

    .testimonials-sub-title span {
        font-size: 18px;
    }

    .bnt-border>span {
        font-size: 16px;
    }

    .predestined-sec .secondary-btn {
        font-size: 18px;
        margin-top: 30px;
    }


    .predestined-sec .secondary-btn span {
        padding: 15px 19px;
    }

    .predestined-sec .secondary-btn span svg {
        width: 20px;
        height: 15px;
    }

    .secondary-btn svg {
        margin-left: 15px;
    }

    .testimonials-cntn {
        padding-bottom: 60px;
    }

}


@media screen and (max-width:425px) {

    /* Navbar Section  */
    .title-1 {
        font-size: 36px;
    }

    .banner-wrapper p {
        font-size: 18px;
    }

    .primary-btn {
        padding: 16px 24px;
        font-size: 15px;
    }

    .banner-btn svg {
        width: 17px;
        height: 19px;
    }

    .banner-btn svg {
        margin-left: 10px;
    }

    /* Predestined Section */
    .client-details-wrapper {
        flex-direction: column;
    }

    .cleint-details {
        margin-top: 10px;
        text-align: center;
        margin-left: 0px;
    }


}